/* FOOTER */
#site-footer{
    margin-top: 80px;
    padding: 40px 30px;
    text-align: center;
    background-color: $onyx;
    color: $white;
    h4{
      margin-bottom:15px;
    }
    a{
      color: $white;
      text-decoration: none;
      font-weight: 100;
      padding: 0 
    }
    p{
      font-weight: 100; 
    }
  }
  
  #socials a{
    margin-left: 20px;
    font-size: 24px;
    
  }